rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    // Allow public read access to all data
    match /{document=**} {
      allow read: if true;
    }

    // Allow write access only to authenticated users (the admin)
    // for most operations, but allow public to update view counts.
    match /videos/{videoId} {
      allow create, delete: if request.auth != null;
      allow update: if request.auth != null || (
        request.resource.data.diff(resource.data).affectedKeys().hasOnly(['viewCount']) &&
        (
            // Handles if the field doesn't exist yet and is being set to 1
            (!('viewCount' in resource.data) && request.resource.data.viewCount == 1) ||
            // Handles if the field exists and is being incremented by 1
            ('viewCount' in resource.data && request.resource.data.viewCount == resource.data.viewCount + 1)
        )
      );
    }

    match /categories/{categoryId} {
      allow write: if request.auth != null;
    }

    match /settings/config {
      allow write: if request.auth != null;
    }
  }
}
