@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 234 43% 94%;
    --foreground: 231 30% 20%;
    --card: 234 43% 99%;
    --card-foreground: 231 30% 20%;
    --popover: 234 43% 99%;
    --popover-foreground: 231 30% 20%;
    --primary: 221 83% 53%;
    --primary-foreground: 0 0% 98%;
    --secondary: 231 40% 90%;
    --secondary-foreground: 231 48% 30%;
    --muted: 231 40% 90%;
    --muted-foreground: 231 30% 40%;
    --accent: 0 80% 65%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --success: 140 70% 40%;
    --success-foreground: 0 0% 98%;
    --border: 231 20% 85%;
    --input: 231 20% 88%;
    --ring: 221 83% 53%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 231 22% 11%;
    --foreground: 234 43% 94%;
    --card: 231 22% 14%;
    --card-foreground: 234 43% 94%;
    --popover: 231 22% 11%;
    --popover-foreground: 234 43% 94%;
    --primary: 221 83% 63%;
    --primary-foreground: 231 30% 20%;
    --secondary: 231 22% 20%;
    --secondary-foreground: 234 43% 94%;
    --muted: 231 22% 20%;
    --muted-foreground: 231 10% 60%;
    --accent: 0 75% 70%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --success: 217 91% 60%;
    --success-foreground: 231 30% 20%;
    --border: 231 22% 20%;
    --input: 231 22% 20%;
    --ring: 221 83% 63%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
